body{
	background-color: #485563;
	/*background: linear-gradient(to bottom, #485563 50%, #29323c 70%);*/
	font-size: 24px;
}
ul {
  list-style-type: none;
  margin: 2px;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}
.nav {
  float: left;
}

.nav a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover{
  background-color: red;
}
.footer1{
	position: relative;
    height: 50px;
    margin-top: 0px;
    background: linear-gradient(#000000,#2d3436);
    color: white;

}

#footerp1{
    position: absolute;
    top:16px;
    margin-left: 38%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#footerp2{
    position: absolute;
    top:16px;
    margin-left: 46%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}